<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
</head>

<body>

    <main th:fragment="main-home">
        <!-- BANNER -->
        <div th:replace="fragments/layout/banner :: banner"></div>

        <!-- Your main code here -->
        <!-- PRODUCT -->
        <div th:replace="fragments/layout/product-home :: product-home"></div>

        <!-- TESTIMONIALS, CTA & SERVICE -->
        <div th:replace="fragments/layout/testimonial :: testimonial"></div>
    </main>

</body>

</html>